*{
    margin: 0%;
    padding: 0%;
    font-family: 'poppins',sans-serif;
    box-sizing: border-box;
}
body{
    height: 100%;
    width: 100%;
    background-color: #2C3E50;
}
.container{
   width: 400px; 
   background-color: #F3E8FF;
   padding: 25px 35px;
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%,-50%);
   border-radius: 10px;
}
.container p{
    font-weight: 550;
    padding-bottom: 20px;
    font-size: larger;
}
.container input{
    width: 330px;
    border: 1px solid #2C3E50;
    outline: 0;
    border-radius: 5px;
    padding: 10px;
    background-color: #F3E8FF;
    margin-bottom: 10px;
}
button{
    margin-bottom: 15px;
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    background-color: #6a0dad;
    border: none;
    color: white;
    font-weight: 600;
    cursor: pointer;
}
#imgbox{
    width: 200px;
    border-radius: 5px;
    max-height: 0;
    margin-top: 15px;
    overflow: hidden;
    transition: max-height 1s;
}
#imgbox img{
    width: 100%;
    padding: 10px;
}
#imgbox.show-img{
    max-height: 300px;
    margin: 10px auto;
    border: 1px solid #d1d1d1;
}
.error{
    animation: shake 0.1s linear 10;
}
@keyframes shake{
    0%{
        transform: translate(0);
    }
    25%{
        transform: translate(-2px);
    }
    50%{
        transform: translate(0);
    }
    75%{
        transform: translate(2px);
    }
    100%{
        transform: translate(0);
    }
}